@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    overflow: hidden;
}

.divPai {
    box-shadow: 1px 1px 5px black;
}


.navBar {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding-top: 20px;

}

.navBar .center {
    text-align: center;
    align-items: center;
}

.navBar .left {
    font-size: 24px;
    color: black;
    font-weight: 500;

}

.right{
    padding-left: 150px;
}


.navBar img {
    max-height: 80px;
    display: block;
    margin: 0;
}

.headline{
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;

}
.brand {
    margin-top: 20px;
    text-align: center;
}

.brand img{
    width: 14%;
    padding: 20px;
    border-radius: 25px;
    transition: transform 0.2s;
}

.brand img:hover {
    transform: scale(1.1);
    cursor: pointer;
}