@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}
.navBar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 1px 5px black;
    padding: 20px 60px;
    color: #fff;

}

.navBar .center {
    text-align: center;
    align-items: center;
}

.navBar .left {
    font-size: 24px;
    color: black;
    font-weight: bold;


}

.navBar .right{
    padding-left: 140px;

}

.navBar img {
    max-height: 80px;
    display: block;
    margin: 0;
}

.headline{
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;

}
.brand {

    margin-top: 20px;
    text-align: center;
}

.brand img{
    width: 14%;
    padding: 20px;
    transition: transform 0.2s;
}

.brand img:hover {
    transform: scale(1.1);
    cursor: pointer;
}